.background {
    background-image: url("disneyland.jpg");
    background-size: cover;
    height: 100vh;

}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
    text-align: center;
    border-style: solid;
    border-color: red;
    background-image: linear-gradient(to right, purple, blue);
    text-shadow: 2px 2px red;
}

.background:hover {
    background-image: url("fireworks 2.jpg");
    background-size:  contain, cover;
    background-repeat: no-repeat;
    margin-left: 800px;
}


#fairy {
    position: fixed;
    bottom: 0;
    margin-left: 1160px;
    top: 0px;
    height: 100px;
    -webkit-animation-name: fairy;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: fairy;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
@keyframes fairy {
  0%   {left:0px; top:0px}
  25%  {left:200px; top:0px;}
  50%  {left:0px; top:0px;}
  100% {left:200px; top:0px;}
}
@-webkit-keyframes fairy {
  0%   {left:0px; top:0px}
  25%  {left:200px; top:0px;}
  50%  {left:0px; top:0px;}
  100% {left:200px; top:0px;}
}
#fairy1{
     transform: rotate(5deg);
     position: fixed;
     top: 0px;
     height: 100px;
      -webkit-animation-name: fairy1;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: fairy1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
      }
      @keyframes fairy1 {
  0%   {left:650px; top:0px}
  25%  {left:500px; top:0px;}
  50%  {left:650px; top:0px;}
  100% {left:500px; top:0px;}
}
@-webkit-keyframes fairy1 {
  0%   {right:200px; top:0px}
  25%  {right:0px; top:200px;}
  50%  {right:200px; top:0px;}
  100% {right:0px; top:200px;}
}